<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" type="text/css" href="/style2.css">
</head>
<body>
    <!--No tiene que funcionar-->
    <h1>Aquí puedes editar la reseva <%=recurso.id%></h1>
    <form action="/editar/:id" method="PUT">
        <label>Estado:</label>
        <input type="text" name="estado" value="<%= recurso.estado %>" required><br>
        <label>Tipo:</label>
        <input type="text" name="tipo" value="<%= recurso.tipo%>" required><br>
        <label>ETIpo:</label>
        <input type="text" name="ETipo" value="<%= recurso.ETipo%>" required><br>
        <button type="submit">Guardar cambios</button>
        <a href="/recursos">Volver a la lista</a>
    </form>
    
</body>
</html>