<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styleHome.css">

</head>
<body>
    <h1>Home</h1>
    <a href="/recursos">Listado recursos</a>
    <a href="/reservas">Listado reservas</a>
    <a href="/usuarios">Listado usuarios</a>
    <a href="/notificaciones">Listado notificaciones</a>
</body>
</html>