<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <h1>¡Gestión de notificaciones por <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Lista de notificaciones</h2>
            <ul class="product-list">
                <% data.notificacions.forEach(noti => { %>
                    <li class="product-item">
                        <strong><%= noti.texto %></strong> 
                        <span><a href="/notificaciones/<%=noti.id_noti%>" class="botonDetalle">Detalle</a></span>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>