body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #f3e8ff, #e4d1f4);
    color: #333;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #843bff;
    border-bottom: 1px solid #ccc;
  }

  .logout-form {
    margin: 0;
  }

  .logout-form button {
    padding: 5px 10px;
    background-color: #fa1313;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
  }
  .logout-form :hover {
    background-color: #ffffff;
    color: #fa1313;
  }

  nav a {
    margin-right: 15px;
  }

h1 {
    font-size: 2.5em;
    color: #843bff;
    margin-bottom: 20px;
}

a {
    display: block;
    width: 250px;
    padding: 12px;
    margin: 10px 0;
    background: linear-gradient(90deg, #843bff, #a566ff);
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

a:hover {
    background: linear-gradient(90deg, #6f31cc, #843bff);
    transform: scale(1.05);
}
